<div class="editable-input" *ngIf="!editable">
        <div mouseevent (click)="click()" (mouseEnter)="mouseEnter($event)" (mouseLeave)="mouseLeave($event)" class="pull-left" data-toggle="tooltip"
                data-placement="bottom" title="Click to edit">{{value}}
                <span class="glyphicon glyphicon-pencil overlay-icon hidden" aria-hidden="true"></span>
        </div>
</div>
<div *ngIf="editable" class="input-editor">
        <select class="form-control input-sm" (change)="onChange($event.target.value)">
                <option *ngFor="let item of items" [value]="item.value">{{item.value}}</option>
        </select>
        <div class="input-editor-buttons">
                <button class="btn btn-sm btn-link" (click)="save()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button class="btn btn-sm btn-link" (click)="cancel()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
        </div>
</div>