<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" [routerLink]="['']">{{menu.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" *ngFor="let group of menu.menuGroups">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{group.title}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <ng-template ngFor let-item [ngForOf]="group.menuItems">
                            <ng-template [ngIf]="item.menuItemType === 1">
                                <li><a routerLink="{{item.href}}" routerLinkActive="active">{{item.title}}</a></li>
                            </ng-template>
                            <ng-template [ngIf]="item.menuItemType === 2">
                                <li role="separator" class="divider"></li>
                            </ng-template>
                        </ng-template>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>