<app-panel id="source-dictionary-item-selector" [showFooter]='true' [showFooter]='true' [scrollable]='true'>
    <div header class="input-group input-group-sm">
        <input type="text" (change)="changeSearchText($event)" class="form-control input-sm input-width-fit" placeholder="{{searchTextPlaceHolder}}">
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-link" (click)="changeFilterOptions()">
                <span class="glyphicon glyphicon-option-vertical"></span>
            </button>
            <button type="button" class="btn btn-sm btn-link" (click)="create()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-sm btn-link" (click)="upload()">
                <span class="glyphicon glyphicon-upload"></span>
            </button>
        </span>
    </div>
    <div body mouseevent class="list-group list-group-condensed dsi-list-group" (mouseWheelUp)="mouseWheelUp($event)" (mouseWheelDown)="mouseWheelDown($event)">
        <a class="list-group-item dsi-list-group-item" (click)="sourceDictionaryItemClick(item)" *ngFor="let item of sourceDictionaryItems">
            {{item.title}}
        </a>
    </div>
    <span footer *ngIf="dictionary && sourceDictionaryItems">{{filterModel.count + filterModel.skip}} of {{filterModel.total}}</span>
</app-panel>