<div class="input-group input-group-sm">
    <select class="form-control" [(ngModel)]="model" (ngModelChange)="onChange()" name="#dictionary">
        <option *ngFor="let item of dictionaries" [ngValue]="item">{{item.title}} | {{item.code}}</option>
      </select>
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-link" (click)="Create()"><span class="glyphicon glyphicon-plus"></span></button>
    <button type="button" class="btn btn-sm btn-link" (click)="Edit()"><span class="glyphicon glyphicon-pencil"></span></button>
    <button type="button" class="btn btn-sm btn-link" (click)="Delete()"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
</div>