<app-panel id="source-dictionary-item-view-panel" [showFooter]='true' [scrollable]='true'>
    <app-editable-textbox *ngIf="dictionaryItem" header [value]="dictionaryItem.title" (save)="saveTitle($event)"></app-editable-textbox>
    <app-editable-textarea *ngIf="dictionaryItem" body [value]="dictionaryItem.body" [highlightFilter]="highlightFilter" (save)="saveBody($event)"></app-editable-textarea>
    <app-editable-select *ngIf="dictionaryItem" footer [value]="dictionaryItem.status" [items]="statuses" (save)="saveStatus($event)"></app-editable-select>
</app-panel>