<div class="editable-input" *ngIf="!editable">
    <div mouseevent (click)="click()" (mouseEnter)="mouseEnter($event)" (mouseLeave)="mouseLeave($event)" data-toggle="tooltip"
        data-placement="bottom" title="Click to edit">
        {{value}}
        <span class="glyphicon glyphicon-pencil overlay-icon hidden" aria-hidden="true"></span>
    </div>
</div>
<div *ngIf="editable" class="input-editor">
    <textarea *ngIf="editable" class="form-control input-sm input-width-fit" (change)="onChange($event.target.value)">{{value}}</textarea>
    <div class="input-editor-buttons">
        <button class="btn btn-sm btn-link" (click)="save()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button class="btn btn-sm btn-link" (click)="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>