<div class='panel panel-default page-panel'>
    <div #panelheaderid class='panel-heading page-panel-heading' (click)='onHeadingClick()'>
        {{title}}
        <ng-content select="[header]"></ng-content>
    </div>
    <div #panelbodyid class='panel-body' [ngClass]="{'panel-body-fixed-scrollable': scrollable, 'panel-body-fixed': !scrollable}" [@slideInOut]="isCollapsed()">
        <div #bodycontent [@fadeInOut]="isCollapsed()">
            <ng-content select="[body]"></ng-content>
        </div>
    </div>
    <div *ngIf='showFooter' #panelfooterid class="panel-footer page-panel-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</div>