.panel-body-collapsed {
    /*padding-top: 0px;*/
    padding-bottom: 0px;
}

.panel-footer-collapsed {
    padding: 0px;
}

.panel-collapsible-cursor {
    cursor: pointer;
}

.panel-body-fixed-scrollable {
    overflow: auto;
    height: 500px;
}


/* .panel-body-fixed {
    height: 500px;
} */

.hiddenContent {
    display: none;
}

.panel-footer,
.panel-heading {
    height: 51px;
}