/* You can add global styles to this file, and also import other style files */

.highlight-search-result {
    background-color: ivory;
    border: 1px solid darkred;
    border-radius: 1px;
}

.hidden {
    display: none;
}

.edit-border {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-width-fit {
    width: 100%;
}

.overlay-icon{
    float: right;
    color: #337ab7;
}
.editable-input > div{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 100%;
    display: table;
}
.input-editor-buttons{
    float: right;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-style: none;
    border-top-width: 0;
}