<app-panel id="source-dictionary-page" [showFooter]='true'>
    <app-source-dictionary-selector header (dictionaryChange)="dictionaryChange($event)"></app-source-dictionary-selector>
    <div body class="row">
        <div class="col-md-4">
            <app-source-dictionary-item-selector [dictionary]="dictionary" (dictionaryItemChange)="dictionaryItemChange($event)" (highlightFilterChange)="highlightFilterChange($event)"></app-source-dictionary-item-selector>
        </div>
        <div class="col-md-8">
            <app-source-dictionary-item-editor [dictionary]="dictionary" [dictionaryItem]="dictionaryItem" [highlightFilter]="highlightFilter"></app-source-dictionary-item-editor>
        </div>
    </div>
    <span footer *ngIf="dictionary">{{dictionary.title}}</span>
</app-panel>